################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResumeParser/Sharpenter.ResumeParser.UI.Console/Sharpenter.ResumeParser.UI.Console.csproj
/ResumeParser/Sharpenter.ResumeParser.UI.Console/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.UI.Console/Program.cs
/ResumeParser/Sharpenter.ResumeParser.UI.Console/App.config
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Sharpenter.ResumeParser.ResumeProcessor.csproj
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/SectionMatchingService.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/SectionExtractor.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/ResumeProcessor.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/WorkExperienceParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/SummaryParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/SkillsParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/ResumeBuilder.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/ProjectsParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/PersonalParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/IParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/EducationParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/CoursesParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Parsers/AwardsParser.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/InputReaderFactory.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Helpers/ResourceLoader.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Helpers/IResourceLoader.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Helpers/DateHelper.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Helpers/CaseInsensitiveComparer.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Helpers/CachedResourceLoader.cs
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Data/LastName.txt
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Data/JobTitles.txt
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Data/FirstName.txt
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/Data/Countries.txt
/ResumeParser/Sharpenter.ResumeParser.ResumeProcessor/ConfigFileApplicationSettingsAdapter.cs
/ResumeParser/Sharpenter.ResumeParser.OutputFormatter.Json/Sharpenter.ResumeParser.OutputFormatter.Json.csproj
/ResumeParser/Sharpenter.ResumeParser.OutputFormatter.Json/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.OutputFormatter.Json/packages.config
/ResumeParser/Sharpenter.ResumeParser.OutputFormatter.Json/JsonOutputFormatter.cs
/ResumeParser/Sharpenter.ResumeParser.OutputFormatter.Json/HyphenNameSerializer.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Sharpenter.ResumeParser.Model.csproj
/ResumeParser/Sharpenter.ResumeParser.Model/SectionType.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Section.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Resume.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Project.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Position.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Period.cs
/ResumeParser/Sharpenter.ResumeParser.Model/IOutputFormatter.cs
/ResumeParser/Sharpenter.ResumeParser.Model/InputReaderBase.cs
/ResumeParser/Sharpenter.ResumeParser.Model/IInputReaderFactory.cs
/ResumeParser/Sharpenter.ResumeParser.Model/IInputReader.cs
/ResumeParser/Sharpenter.ResumeParser.Model/IApplicationSettings.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Exceptions/ResumeParserException.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Exceptions/NotSupportedResumeTypeException.cs
/ResumeParser/Sharpenter.ResumeParser.Model/Education.cs
/ResumeParser/Sharpenter.ResumeParser.InputReader.Plain/Sharpenter.ResumeParser.InputReader.Plain.csproj
/ResumeParser/Sharpenter.ResumeParser.InputReader.Plain/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.InputReader.Plain/PlainTextInputReader.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Pdf/Sharpenter.ResumeParser.InputReader.Pdf.csproj
/ResumeParser/Sharpenter.ResumeParser.InputParser.Pdf/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Pdf/PdfInputParser.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Pdf/packages.config
/ResumeParser/Sharpenter.ResumeParser.InputParser.Docx/Sharpenter.ResumeParser.InputReader.Docx.csproj
/ResumeParser/Sharpenter.ResumeParser.InputParser.Docx/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Docx/packages.config
/ResumeParser/Sharpenter.ResumeParser.InputParser.Docx/OpenXmlInputReader.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Doc/Sharpenter.ResumeParser.InputReader.Doc.csproj
/ResumeParser/Sharpenter.ResumeParser.InputParser.Doc/Properties/AssemblyInfo.cs
/ResumeParser/Sharpenter.ResumeParser.InputParser.Doc/InteropDocInputReader.cs
/ResumeParser/ResumeParser.v12.suo
/ResumeParser/ResumeParser.sln
/ResumeParser/packages/repositories.config
/ResumeParser/packages/Newtonsoft.Json.6.0.8/tools/install.ps1
/ResumeParser/packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.dll
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
/ResumeParser/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.dll
/ResumeParser/packages/iTextSharp.5.5.4/notice.txt
/ResumeParser/packages/iTextSharp.5.5.4/lib/iTextSharp.xml
/ResumeParser/packages/iTextSharp.5.5.4/lib/itextsharp.dll
/ResumeParser/packages/iTextSharp.5.5.4/iTextSharp.5.5.4.nupkg
/ResumeParser/packages/iTextSharp.5.5.4/AGPL.txt
/ResumeParser/packages/DocumentFormat.OpenXml.2.5/lib/DocumentFormat.OpenXml.dll
/ResumeParser/packages/DocumentFormat.OpenXml.2.5/DocumentFormat.OpenXml.2.5.nupkg
